{% extends "base.html" %}

{% block content %}
    <div class="container text-center mt-5">
        <h1>Welcome to SecureDrop</h1>
        <p>Upload your resume securely for PII  masking.</p>
      </div>


      <div id="drop-area" 
      style="border: 2px dashed #4CAF50; padding: 100px; margin-top: 50px; border-radius: 15px;">
 
   <!-- Drop area text -->
   <p class="text-center">Drop files here</p>
 
   <!-- Upload Button -->
   <div class="text-center">
     <button id="upload-btn" class="btn btn-success" style="border-radius: 15px; padding: 10px 20px;">
       Upload File
     </button>
     <!-- File input (hidden by default) -->
     <input type="file" id="file-input" style="display: none;" />
   </div>
 </div>

{% endblock %}